* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Open Sans", helvetica, arial, sans-serif;

  --text-color: #222222;
  --pluses-color: #43aa8b; /* or 90be6d */
  --minuses-color: #f94144;

  --header-color: #168AAD;

  --button-color: #B5E48C;
  --button-color-hover: #D9ED92;

  color: var(--text-color);

  box-sizing: border-box;
}

button {
  background-color: var(--button-color);
}
button:hover {
  cursor: pointer;
  background-color: var(--button-color-hover);
}

/* Главное */
#main-inner {
  margin-left: auto;
  margin-right: auto;
  min-width: 900px;
  max-width: 1020px;
  width: 100%;
  flex: 1;
}

#main {
  padding: 15px 0;
  width: 67%;
  background-color: rgb(228, 228, 228);
  box-shadow: 10px 0 10px rgb(228, 228, 228), 
              -10px 0 10px rgb(228, 228, 228),
              0 5px 5px rgb(228, 228, 228),
              0 -5px 5px rgb(228, 228, 228);
}

.avatar {
  border-radius: 50%;
}

.rating-pluses * {
  color: var(--pluses-color);
}
.rating-minuses * {
  color: var(--minuses-color);
}
.vote-story-num {
  margin-bottom: 5px;
}

.button {
  cursor: pointer;
}