#sidebar {
  float: right;
  width: 300px;
  
  border-radius: 15px;
  box-shadow: 10px 0 10px rgb(228, 228, 228), 
              -10px 0 10px rgb(228, 228, 228),
              0 5px 5px rgb(228, 228, 228),
              0 -5px 5px rgb(228, 228, 228);
}
#sidebar-main {
  height: fit-content;
}

.sidebar-element {
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 15px;
}

.sidebar-inner-element {
  padding: 15px;
}
.sidebar-user-element {
  margin-top: 10px;
  margin-bottom: 10px;
}
.sidebar-user {
  display: flex;
  flex-direction: row;
}
.sidebar-user-avatar {
  margin-right: 10px;
}
.sidebar-user-avatar .avatar {
  width: 48px;
  height: 48px;
}
.sidebar-user-number {
  font-size: x-large;
}

/* Форма авторизации */
.auth-form {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.auth-form input {
  border: none;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.116), 
              0px -3px 3px rgba(0, 0, 0, 0.116),
              3px 0px 3px rgba(0, 0, 0, 0.116), 
              -3px 0px 3px rgba(0, 0, 0, 0.116);
}
.auth-form-field {
  border-radius: 30px;
  padding: 5px;
  margin-bottom: 10px;
}
.auth-form-submit {
  border-radius: 30px;
  padding: 5px;
}