<div id="header-wrapper">
  <div id="header-logo" class="header-item">
    <p>PUKABU</p>
  </div>
  <div id="header-menu" class="header-item">
    <div id="header-menu-hot" class="header-menu-elem">
      <a href="/hot">Горячее</a>
    </div>
    <div id="header-menu-best" class="header-menu-elem">
      <a href="/best">Лучшее</a>
    </div>
    <div id="header-menu-new" class="header-menu-elem">
      <a href="/new">Свежее</a>
    </div>
    <div id="header-menu-sub" class="header-menu-elem">
      <a href="/subs">Подписки</a>
    </div>
  </div>
  <div id="header-right-menu" class="header-item">
    <p>squart</p>
  </div>
</div>